.courseDropDownContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    margin: 1rem 0 1rem 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.courseDropDownContainer:hover {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.errorBoundary {
    background-color: #fff;
    border: 1px solid #dc3545 !important;
    outline: 1 !important;
}

.courseDropDownContainer > select {
    border-color: transparent !important;
    border: none !important;
    outline: none;
    margin-left: 0.5rem;
    padding: 0;
    width: 100%;
}